@import "tailwindcss";
@import "./home.css";

@theme {
  --font-sans: "Inter Variable", "sans-serif";
  --breakpoint-xxs: 400px;
  --breakpoint-xs: 480px;
}

:root {
  --navbar-height: 72px;
}

button {
  cursor: pointer;
}
