---

---

<section id="home-welcome-section" class="flex flex-col justify-center items-center home-section">
	<div class="container mx-auto px-4 lg:px-8 xl:px-16 2xl:px-30 flex flex-col items-start">
		<div id="welcome-content" class="mx-auto mb-24 xs:mb-0">
			<p id="welcome-title" class="font-black text-3xl xs:text-4xl sm:text-5xl md:text-6xl lg:text-[72px] lg:leading-[84px]">Fresh <span class="bg-gradient-to-r from-green-600 to-emerald-600 bg-clip-text text-transparent"> Produce</span> Delivered <span class="bg-gradient-to-r from-orange-500 to-red-500 bg-clip-text text-transparent"> Worldwide</span></p>
            <p id="welcome-description" class="font-normal text-sm max-w-[330px] xxs:text-base xxs:max-w-[360px] sm:text-lg sm:max-w-[475px] md:max-w-[600px] lg:text-[21px] lg:leading-[100%] lg:max-w-[850px] mt-8 mb-14">We export the finest quality tropical fruits and aromatic spices from the God's Own Country - Kerala to global markets, connecting international buyers with premium fresh produce grown in nature's lap.</p>
			<!-- <p id="welcome-description" class="font-normal text-sm max-w-[330px] xxs:text-base xxs:max-w-[360px] sm:text-lg sm:max-w-[475px] md:max-w-[600px] lg:text-[21px] lg:leading-[100%] lg:max-w-[850px] mt-8 mb-14">Delivering freshness, consistency, and global standards — from God’s Own Country to the world.</p> -->
            <!-- <button id="book-demo-button" class="px-5 font-semibold h-[42px] md:h-[60px] md:text-lg lg:h-[72px] lg:text-[24px] xl:text-[28px] lg:leading-[100%]">Get a Quote</button> -->
		</div>
		<!-- <div id="welcome-footer" class="mt-24 mb-20 w-full hidden xs:block">
			<div class="flex items-center justify-center my-6">
				<hr class="flex-grow border-gray-300" />
				<span id="welcome-footer-text" class="px-4 font-normal text-sm max-w-[300px] xs:text-base xs:max-w-full text-center">
				Unlock <strong>AI-Powered Efficiency</strong> for Insurance Brokers
				</span>
				<hr class="flex-grow border-gray-300" />
			</div>
			<div id="welcome-footer-items">
				<div class="welcome-footer-item flex items-center">
					<img src="/src/assets/images/fast-analysis-icon.png" alt="fast-analysis-icon" class="mr-2" />
					<span class="welcome-footer-item-text font-bold xs:text-sm sm:text-base lg:text-[21px] lg:leading-[100%]">Fast Analysis</span>
				</div>
				<div class="welcome-footer-item flex items-center justify-end">
					<img src="/src/assets/images/smart-ai-icon.png" alt="smart-ai-icon" class="mr-2" />
					<span class="welcome-footer-item-text font-bold xs:text-sm sm:text-base lg:text-[21px] lg:leading-[100%]">Smart AI</span>
				</div>
				<div class="welcome-footer-item flex items-center">
					<img src="/src/assets/images/scalable-icon.png" alt="scalable-icon" class="mr-2" />
					<span class="welcome-footer-item-text font-bold xs:text-sm sm:text-base lg:text-[21px] lg:leading-[100%]">Scalable</span>
				</div>
				<div class="welcome-footer-item flex items-center justify-end">
					<img src="/src/assets/images/secure-icon.png" alt="secure-icon" class="mr-2" />
					<span class="welcome-footer-item-text font-bold xs:text-sm sm:text-base lg:text-[21px] lg:leading-[100%]">Secure</span>
				</div>
			</div>
		</div> -->
	</div>
</section>

<style>
	#welcome-content {
		/* margin-top: 180px; */
		max-width: 900px;
		text-align: center;
	}
	/* @media (min-width: 640px) {
		#welcome-content {
			margin-top: 220px;
		}
	}
	@media (min-width: 1024px) {
		#welcome-content {
			margin-top: 264px;
		}
	} */
	/* #welcome-title {
	
	} */
	/* #welcome-description {
	
	} */

	#home-welcome-section #book-demo-button {
		color: #FFFFFF;
		background-color: #8A3BF6;
		border-radius: 35px;
		text-align: center;
		transition: background-color 0.3s ease-in-out;
	}

	#home-welcome-section #book-demo-button:hover {
		background-color: #7919ff;
		transition: background-color 0.3s ease-in-out;
	}

	#welcome-footer-items{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
	}
	@media (min-width: 480px) {
		#welcome-footer-items {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}
	}

	/* #welcome-footer-text {

	} */
	#welcome-footer-text strong {
		font-weight: 700;
	}
	/* .welcome-footer-item-text {

	} */

</style>
